*{
    font-family: 'Raleway', sans-serif;
}

.nav-container{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    padding: 50px;
    background: #5823E5;
}

.nav-container button{
    margin: 0px 5px;
    box-shadow: 0px 0px 16px 1px #2a2929;
    font-family: 'Archivo Black', sans-serif;
}

.container{
    min-width: 375px;
}

#user-name-display {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5rem;
}

.name-container{
    text-align: center;
}

.poll-container{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.poll-info{
    text-align: center;
    border: solid;
    display: inline-block;
    width: 45%;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}


/* MEDIA QUERIES */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) { 

    .container{
        min-width: 100%;
    }

    .poll-info {
        width: 50%;
        margin: 5px;
    }

    .poll-info h5{
        font-weight: bolder;
    }
    
}